<nav>
	<ul class="nav nav-tabs navbar-right">
		<li class="active"><a sref=".home">Home</a></li>
		<li><a ui-sref=".ide">IDE</a></li>
		<li><a ui-sref=".courses">Courses</a></li>
		<li><a ui-sref=".assignments">Assignments</a></li>
		<li><a ui-sref=".home">Performance</a></li>
		<li><a ui-sref=".home">Account</a></li>
		<li><a ng-click="userLogout()">Log Out</a></li>
	</ul>
</nav>

<div ui-view class="mainContent"></div>

<footer class="footer">
	<div class="container">
		<p class="text-muted">Lab Automation Software (LAS). Developed by: Apurva, Ananya, Ashish, Abhimanyu
		</p>
	</div>
</footer>