<div class="container" id="navigation">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs navbar-right">
				<li class="active"><a sref="studentDashboard.home">Home</a></li>
				<li><a ui-sref=".ide">IDE</a></li>
				<li><a ui-sref=".courses">Courses</a></li>
				<li><a ui-sref=".assignments">Assignments</a></li>
				<li><a ui-sref=".home">Performance</a></li>
				<li><a ui-sref=".home">Account</a></li>
				<li><a ng-click="userLogout()">Log Out</a></li>
			</ul>
		</div>
	</div>
</div>

<ui-view></ui-view>

<div class="container" id="footer">
	<div class="row">
		<div class="col-md-12">
			<div class="navbar navbar-default">
				<small>LAS   All Rights Reserved.</small>
			</div>
		</div>
	</div>
</div>