	<div id="questions">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<label>Questions</label>
				</div>
			</div>
		</div>
		<div class="container">
			<table class="table">
				<thead>
					<tr>
						<th>Number</th>
						<th>Marks</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="qsn in questions track by qsn._id">
						<td>{{qsn.number}}</td>
						<td>{{qsn.marks}}</td>
						<td>
							<button class="btn btn-success" ui-sref="studentDashboard.solutions({question:qsn._id,course:course,assignment:assignment})">
								Solutions
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>