<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
			<h2>Admin Sign In</h2>
			<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
				<div class="form-group" class="has-error">
					<p ng-show="userForm.submitted && userForm.checked  && userForm.hasError" style="color: red">{{userForm.error}}</p>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$touched && !userForm.email.$pristine }">
					<label for="email">Email</label>
					<input type="email" class="form-control" name="email" placeholder="Email address" ng-model="email" ng-minlength="1" required>
					<p ng-show="userForm.email.$invalid && userForm.email.$touched  && !userForm.email.$pristine" class="help-block">Please enter a valid email.</p>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine && userForm.password.$touched }">
					<label for="password">Password</label>
					<input type="password" class="form-control" name="password" placeholder="Enter password" ng-model="password" ng-minlength="1" required>
					<p ng-show="userForm.password.$invalid && !userForm.password.$pristine  && userForm.password.$touched" class="help-block">Your password is required.</p>
				</div>

				<button class="btn btn-success" ng-click="submit()" ng-disabled="userForm.$invalid">Submit</button>
				<div class="row">
					<div class="newuser">Not an existing Admin <a ui-sref="signUpAdmin">Sign up</a>
					</div>
				</div>
				<div class="row">
					<div class="newuser">for students: <a ui-sref="signIn">Log In</a>  Or <a ui-sref="signUp">Sign up</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>