	<div class="container" id="studentNotifications">
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Course Name</th>
					<th>Assignment Title</th>
					<th>Due Date</th>
					<th>Marks</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><!--courseName--></td>
					<td><!--assignmentTitle--></td>
					<td><!--dueDate--></td>
					<td><!--marks--></td>
					<td>
						<button class="button btn-success">
							Submitted
						</button>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td><!--courseName--></td>
					<td><!--assignmentTitle--></td>
					<td><!--dueDate--></td>
					<td><!--marks--></td>
					<td>
						<button class="button btn-info">
							Attempted
						</button>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td><!--courseName--></td>
					<td><!--assignmentTitle--></td>
					<td><!--dueDate--></td>
					<td><!--marks--></td>
					<td>
						<button class="button btn-danger">
							New
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>