body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#editor{

}
.ace_editor { position: relative;
        width: 500px;
        height: 428px;
		border:#E9E9E9 solid;
		margin-bottom:5px; }