body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

#editor{

}
nav{
	padding-right: 40px;
	padding-top: 10px;

}
.blue{
		background-color: #2589BD;
}
.ace_editor { position: relative;
	width: 100%;
	height: 428px;
	border:#E9E9E9 solid;
	margin-bottom:5px;
}

.footer {
	  clear: both;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;

	margin-top: 20px;
	padding: 10px;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 40px;
	background-color: #f5f5f5;
}
#mainContent{
	padding-top: 20px;
	margin-top: 40px;
	
}
